<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Elvis's URL Shortener</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/url.css" />
    </head>
    <body>
        <nav class="navbar">Elvis's URL Shortener</nav>
        <div class="container">
            <input type="text" name="input" class="input" placeholder="Paste a link here" >
            <div class="btn__create">Create shorten URL</div>
            <div class="output">
                <div>original URL(原始網址)：</div>
                <div class="original_url"></div>
                <br>
                <div>shorten URL(短網址)：</div>
                <div class="shorten_url"></div>
            </div>
            <div class="footer">This page is created by - me
                <a href="https://github.com/elvis1056/UrlShort">View on GitHub</a>
            </div>
        </div>
    </body>
    <script src="./script.js"></script>
</html>